/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf)
}

head {

}

h1, h2, h3, h4 {
    font-family: 'Quicksand';
    text-align: center;
    color: #ffffff;
}

.type-of-message {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    width: 35%;
    height: 12%;
    font-family: sans-serif;
    font-style: italic;
}

.radio-container {
    width: 100%;
    justify-content: stretch;
    /* border: 1px solid blue; */
}



.receive-message {
    height: 30%;
    width: 50%;
    background: #134d71;
    margin: auto;
    border-radius: 5px;
    font-family: "Quicksand";
    color: white;
    
}

.message-output {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    width: 60%;
    height: 20%;
}

img {
    height: 50%;
    width: 50%;
}